@{
    ViewData["Title"] = "Danh Sách Sản Phẩm";
}

@section Styles{
    <style>
        div.mdb-select {
            display: inline-block !important;
            margin: 0 0.5em;
        }
        div.custom{
            text-align: right;
        }
        div.custom p{
            display: inline;
            margin-right: 0.5em;
        }
        div.custom input{
            display: inline-block;
            width: 50%;
        }
    </style>
}

<h2 class="title text-center"><strong>@ViewData["Title"]</strong></h2>
<div class="card card-cascade narrower z-depth-1">
    <div class="px-4">

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <label>
                    Hiển thị
                    <select id="ddlShowPage" class="mdb-select colorful-select dropdown-primary mt-2 hidden-md-down initialized">
                        <option value="5" selected="">5</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select> phần tử
                </label>
            </div>
            <div class="col-sm-12 col-md-6 custom">
                <p>
                    Từ khóa:
                </p>
                <input type="search" class="form-control" id="txtKeyword">
                <button class="btn btn-sm btn-primary" id="btnSearch">
                    <span class="fa fa-search"></span>
                </button>
            </div>
        </div>

        <div class="table-responsive table-bordered table-striped">

            <!--Table-->
            <table class="table table-hover mb-0">

                <!--Table head-->
                <thead>
                    <tr>
                        <th class="th-lg">
                            #
                        </th>
                        <th><a>Name <i class="fa fa-sort ml-1"></i></a></th>
                        <th>Category</th>
                        <th><a href="">Price<i class="fa fa-sort ml-1"></i></a></th>
                        <th><a href="">Created Date<i class="fa fa-sort ml-1"></i></a></th>
                        <th><a href="">Status<i class="fa fa-sort ml-1"></i></a></th>
                        <th width="15%">Action</th>
                    </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody id="tbl-content"></tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>

        <hr class="my-0">

        <!--Bottom Table UI-->
        <div class="d-flex justify-content-between">
            <div class="col-sm-12 col-md-5">
                <nav class="my-4">
                    <p>
                        Hiển thị <span id="lblFrom"></span> đến <span id="lblTo"></span> của <span id="lblTotalRecords"></span> phần tử
                    </p>
                </nav>
            </div>
            <div class="col-sm-12 col-md-7">
                <!--Pagination -->
                <nav class="my-4 float-right">
                    <ul class="pagination pagination-circle pg-blue mb-0" id="paginationUL"></ul>
                </nav>
                <!--/Pagination -->
            </div>
        </div>
        <!--Bottom Table UI-->
    </div>
</div>

@section Scripts{
    <script id="table-template" type="x-tmpl-mustache">
        <tr>
            <td class="text-center">
                {{{ Image }}}
            </td>
            <td>{{ Name }}</td>
            <td>{{ CategoryName }}</td>
            <td>{{ Price }}</td>
            <td>{{ CreatedDate }}</td>
            <td>{{{ Status }}}</td>
            <td>
                <button class="btn btn-sm btn-warning">
                    <span class="fa fa-pencil"></span>
                </button>
                <button class="btn btn-sm btn-danger">
                    <span class="fa fa-trash"></span>
                </button>
            </td>
        </tr>
    </script>

    <script src="~/admin-side/custom/controllers/product/index.js"></script>
    <script>
        var product = new productController();
        product.initialize();
    </script>

}